= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      %a.chat-main__header--group-edit{:href => "edit"} edit
    .chat-main__header-members メンバー：matsumoto

  .messages
    = render @messages

  .form
    = form_for [@group, @message],id: "new_message" do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
